#recherche{
    text-align: right;

}
.logo{
    height:95%;
    width: 95%;

}
.imagetitre{
    height:100%;
    width: 100%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
}

.imagetitre:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
}
body{
    background-color: #F2F2F2;
}
footer{
    background-color: #FFFAB7;
}
.textfooter{
    text-align: center;
}
.fa-twitter{
    padding-left:20px;
}
.fa-facebook{
    padding-left:100px;
}
.imagefooter{
    padding-left:130px;
}
.fa-at{
    padding-left:95px;
}
.fa{
    padding-right: 8px;
    padding-top:10px;
}
a{
    color: inherit;
}
.well{
    min-height: 600px;
}
.imagefooter{
    padding-top: 15px;
}
.imagefooter2{
    padding-left:110px;
}
.textfooter2{
    padding-left:30px;
}