<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/da29dc0239.js"></script>
    <link rel="stylesheet" href="style/style.css">
    <title>Formulaire de contact</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <a href="index"><img class="logo" src="Images/logo.png" alt=""><a/>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <a href="abonnement"><i class="fa fa-at fa-3x" aria-hidden="true"></i> </a>
                <a href="contact"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i> </a>
                <a href="soumettre"><i class="fa fa-comments fa-3x" aria-hidden="true"></i> </a>
                <i class="fa fa-bell fa-3x" aria-hidden="true"></i>

            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-4 ">
                <form id="recherche" action="POST" >
                    <input type="text" id="search" name="search"  />
                    <button><i class="fa fa-search " aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 bordure">

            </div>
            <div class="col-md-4">
                <h1 class=" accroche text-center">
                    L'Agro actualités, sans préjugés
                </h1>
            </div>
            <div class="col-md-4 bordure">

            </div>
        </div>
    </div>
</header>
    <section>
        <div class="container well">
                <div class="form-group">
                    <form action=mailto:votrenom@provider.com" method="post">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <label>
                                    <span>Nom*  : </span>
                                    <input type="text" placeholder="Entrez votre nom" name="name" id="name" required autofocus>
                                </label> <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <label>
                                    <span>Prenom: </span>
                                    <input type="text" placeholder="Entrez votre prénom" name="prenom" id="name" >
                                </label> <br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <label>
                                    <span>Email* : </span>
                                    <input type="email" placeholder="Votre-email@gmail.com" name="email" id="email" required>
                                </label><br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <label>
                                    <span>Sujet:</span>
                                    <textarea name="sujet" id="sujet" rows="1" cols="50" required></textarea>
                                </label><br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <label>
                                    <span>Message*:</span>
                                    <textarea name="monmessage" id="monmessage" rows="4" cols="50" required></textarea>
                                </label><br/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4">
                                <button type="button" class="btn btn-success">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>

    </section>
<footer>
    <div class="container-fluid">
        <h2 class="textfooter">REJOIGNEZ NOUS</h2>
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <h3><i class="fa fa-copyright" aria-hidden="true"></i>
                    GreenFlex_OpenAgriFood
                </h3>
            </div>
            <div class=" col-md-offset-1 col-md-3">
                <i class="fa fa-facebook fa-5x " aria-hidden="true"></i>
                <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
                <img class="imagefooter" src="Images/logofooter2.png" alt="">
            </div>
        </div>
    </div>
</footer>
</body>
</html>