<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/da29dc0239.js"></script>
    <link rel="stylesheet" href="style/stylefondamentaux.css">

    <title>Page d'accueil</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <a href="index"><img class="logo" src="Images/logo.png" alt=""><a/>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <a href="abonnement"><i class="fa fa-at fa-3x" aria-hidden="true"></i> </a>
                <a href="contact"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i> </a>
                <a href="soumettre"><i class="fa fa-comments fa-3x" aria-hidden="true"></i> </a>
                <i class="fa fa-bell fa-3x" aria-hidden="true"></i>

            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-4 ">
                <form id="recherche" action="POST" >
                    <input type="text" id="search" name="search"  />
                    <button><i class="fa fa-search " aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 bordure">

            </div>
            <div class="col-md-4">
                <h1 class=" accroche text-center">
                    L'Agro actualités, sans préjugés
                </h1>
            </div>
            <div class="col-md-4 bordure">

            </div>
        </div>
    </div>
</header>
<section>
    <!-- carousel 1-->
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container-fluid menu">
                    <div class="row">
                        <div class="col-sm-4 col-md-3" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                <h1 class="titre">FONDAMENTAUX</h1>
                                </div></a>
                        </div>

                        <div class="col-sm-4 col-md-3" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                    <h1>Définition</h1>
                                <p data-toggle="modal" data-target="#myModal">QU’EST-CE QUE LE BIEN-ÊTRE
                                    ANIMAL
                                    ?<br/>Le bien-être animal peut être un concept difficile à comprendre
                                    parce qu’il n’a pas de définition unique et peut prendre un sens
                                    différent d’une personne à l’autre. [...]</p></div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal3" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                    <h1>Chiffres Clés</h1>
                                <p>Sondages organismes divers</p>
                                </div></a>
                        </div>
                        <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                    <h1>Quelques faits</h1>
                                    <p></p>
                                </div></a>
                        </div>
                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid">
                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                        <a href="#" class="thumbnail"><div class="tuile">
                                <h1>Sources</h1>
                                <p></p>
                            </div></a>
                    </div>
                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                        <a href="#" class="thumbnail"><div class="tuile">
                                <h1>Approche Scientifique</h1>
                                <p></p>
                            </div></a>
                    </div>
                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                        <a href="#" class="thumbnail"><div class="tuile">
                                <h1>Approche Historique</h1>
                                <p></p>
                            </div></a>
                    </div>
                </div>
            </div>
        </div>


                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
    </div>
                <!-- Carousel2 -->
                <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel" data-interval="false">


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container-fluid menu">
                                <div class="row">
                                    <div class="col-sm-4 col-md-3" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1 class="titre">TRIBUNE</h1>
                                            </div></a>
                                    </div>

                                    <div class="col-sm-4 col-md-3" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1>Article</h1>
                                                <p data-toggle="modal" data-target="#myModal">QU’EST-CE QUE LE BIEN-ÊTRE
                                                    ANIMAL
                                                    ?<br/>Le bien-être animal peut être un concept difficile à comprendre
                                                    parce qu’il n’a pas de définition unique et peut prendre un sens
                                                    différent d’une personne à l’autre. [...]</p></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal3" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1>Article</h1>
                                                <p></p>
                                            </div></a>
                                    </div>
                                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1>Article</h1>
                                                <p></p>
                                            </div></a>
                                    </div>
                                    <div class="carousel-caption"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                    <a href="#" class="thumbnail"><div class="tuile">
                                            <h1>Article</h1>
                                            <p></p>
                                        </div></a>
                                </div>
                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                    <a href="#" class="thumbnail"><div class="tuile">
                                            <h1>Article</h1>
                                            <p></p>
                                        </div></a>
                                </div>
                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                    <a href="#" class="thumbnail"><div class="tuile">
                                            <h1>Article</h1>
                                            <p></p>
                                        </div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic2" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic2" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                </div>
                            <!-- Carousel3 -->
                            <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel" data-interval="false">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="container-fluid menu">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-3" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1 class="titre">PRESSE</h1>
                                                        </div></a>
                                                </div>

                                                <div class="col-sm-4 col-md-3" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1>Article</h1>
                                                            <p data-toggle="modal" data-target="#myModal">QU’EST-CE QUE LE BIEN-ÊTRE
                                                                ANIMAL
                                                                ?<br/>Le bien-être animal peut être un concept difficile à comprendre
                                                                parce qu’il n’a pas de définition unique et peut prendre un sens
                                                                différent d’une personne à l’autre. [...]</p></div>
                                                    </a>
                                                </div>
                                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal3" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1>Article</h1>
                                                            <p></p>
                                                        </div></a>
                                                </div>
                                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1>Article</h1>
                                                            <p></p>
                                                        </div></a>
                                                </div>
                                                <div class="carousel-caption"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                <a href="#" class="thumbnail"><div class="tuile">
                                                        <h1>Article</h1>
                                                        <p></p>
                                                    </div></a>
                                            </div>
                                            <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                <a href="#" class="thumbnail"><div class="tuile">
                                                        <h1>Article</h1>
                                                        <p></p>
                                                    </div></a>
                                            </div>
                                            <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                <a href="#" class="thumbnail"><div class="tuile">
                                                        <h1>Article</h1>
                                                        <p></p>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic3" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic3" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                            </div>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Le Bien-être Animal</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p class="titre">QU’EST-CE QUE LE BIEN-ÊTRE ANIMAL ?</p>
                                                <p>Le bien-être animal peut être un concept difficile à comprendre
                                                    parce qu’il n’a pas de définition unique et peut prendre un sens
                                                    différent d’une personne à l’autre.</p><br/>
                                                <p class="titre">QUE VEUT DIRE LE BIEN-ÊTRE ANIMAL ?</p><br/>
                                                <p>Le bien-être fait généralement référence à « la qualité de vie telle qu’en fait l’expérience un animal individuel ».
                                                    Le bien-être animal au sens large englobe non seulement la santé
                                                    et le bien-être physique de l’animal, mais aussi son bien-être
                                                    psychologique et la possibilité pour lui d’exprimer les
                                                    comportements importants propres à son espèce. Le bien-être peut
                                                    être décrit comme satisfaisant si les animaux sont en bonne santé physique et psychologique, se sentent bien et ne subissent pas de souffrances.</p><br/>
                                                <p></p>

                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="logomodalfooter">
                                                        <a href="https://www.twitter.com/"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                                                        <a href="https://www.facebook.com/"><i class="fa fa-facebook-official
                                                         fa-3x " aria-hidden="true"></i></a>
                                                    </div>
                                                    <a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#myModal25">Avis</a>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal2 -->
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal3 -->
                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    <!-- Modal4 -->
                                    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal5 -->
                                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal6 -->
                                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal7 -->
                                    <div class="modal fade" id="myModal7" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal8 -->
                                    <div class="modal fade" id="myModal8" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal9 -->
                                    <div class="modal fade" id="myModal9" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="myModal25" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-body">
                                                    <form action=mailto:votrenom@provider.com" method="post">
                                                        <div class="row">
                                                            <div class="col-sm-offset-4 col-sm-4">
                                                                <label>
                                                                    <h3 class="text-center">Donner nous votre avis !</h3>
                                                                    <span>Email* : </span>
                                                                    <input type="email" placeholder="Votre-email@gmail.com" name="email" id="email" required>
                                                                </label><br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-4 col-sm-4">
                                                                <label>
                                                                    <span>Nom*  : </span>
                                                                    <input type="text" placeholder="Entrez votre nom" name="name" id="name" required autofocus>
                                                                </label> <br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-4 col-sm-4">
                                                                <label>
                                                                    <span>Prenom: </span>
                                                                    <input type="text" placeholder="Entrez votre prénom" name="prenom" id="name" >
                                                                </label> <br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-4 col-sm-4">
                                                                <label>
                                                                    <span>Contenu*:</span>
                                                                    <textarea name="monmessage" id="monmessage" rows="4" cols="30" required></textarea>
                                                                </label><br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-4 col-sm-4">
                                                                <button type="button" class="btn btn-success">Envoyer</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

</section>
<footer>
    <div class="container-fluid">
        <h2 class="textfooter">REJOIGNEZ NOUS</h2>
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <h3><i class="fa fa-copyright" aria-hidden="true"></i>
                    GreenFlex_OpenAgriFood
                </h3>
            </div>
            <div class=" col-md-offset-1 col-md-3">
                <i class="fa fa-facebook fa-5x " aria-hidden="true"></i>
                <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
                <img class="imagefooter" src="Images/logofooter2.png" alt="">
            </div>
        </div>
    </div>
</footer>

</body>
</html>
