<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/da29dc0239.js"></script>
    <link rel="stylesheet" href="style/stylefondamentaux.css">

    <title>Page d'accueil</title>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <a href="index"><img class="logo" src="Images/logo.png" alt=""><a/>
            </div>
            <div class="col-md-offset-1 col-md-2">
                <a href="abonnement"><i class=" icone fa fa-at fa-3x" aria-hidden="true"></i> </a>
                <a href="contact"><i class=" icone fa fa-envelope fa-3x" aria-hidden="true"></i> </a>
                <a href="soumettre"><i class=" icone fa fa-comments fa-3x" aria-hidden="true"></i> </a>
                <i class="fa fa-bell fa-3x" aria-hidden="true"></i>

            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-8 col-md-4 ">
                <form id="recherche" action="POST" >
                    <input type="text" id="search" name="search"  />
                    <button><i class="fa fa-search " aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class=" accroche text-center">

                    L'Agro actualités, sans préjugés

                </h1>
            </div>
        </div>
    </div>
</header>
<section>
    <!-- carousel 1-->
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container-fluid menu">
                    <div class="row">
                        <div class="col-sm-4 col-md-3" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                <h1 class="titre">FONDAMENTAUX</h1>
                                </div></a>
                        </div>

                        <div class="col-sm-4 col-md-3" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                    <h1>Définition</h1>
                                <p data-toggle="modal" data-target="#myModal">QU’EST-CE QUE LE BIEN-ÊTRE
                                    ANIMAL
                                    ?<br/>Le bien-être animal peut être un concept difficile à comprendre
                                    parce qu’il n’a pas de définition unique et peut prendre un sens
                                    différent d’une personne à l’autre. [...]</p></div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal3" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                    <h1>Chiffres Clés</h1>
                                <p>Sondages organismes divers<br/>90% des français sont défavorables aux élevages dans des bâtiments fermés sans accès à l'extérieur - Sondage Opinion Way pour L214
                                    92% des français aimeraient voir l’étiquetage des œufs s’étendre à tous les produits carnés et laitiers - Etude européenne Qa pour la campagne « Question d’étiquette »</p>
                                </div></a>
                        </div>
                        <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                            <a href="#" class="thumbnail"><div class="tuile">
                                    <h1>Quelques faits</h1>
                                    <p>[...] A Venir</p>
                                </div></a>
                        </div>
                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container-fluid">
                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                        <a href="#" class="thumbnail"><div class="tuile">
                                <h1>Sources</h1>
                                <p>Alim’agri, site du ministère de l’agriculture, de l’agroalimentaire et de la foret
                                    http://agriculture.gouv.fr/
                                    Organisme dédié au bien-être des animaux de la ferme Compassion In World Farming
                                    http://www.ciwf.fr/
                                    PMAF protection mondiale des animaux de ferme
                                    http://www.pmaf.org/
                                    OIE World Organistaion for Animal Health
                                    http://www.oie.int/fr/</p>
                            </div></a>
                    </div>
                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal5" >
                        <a href="#" class="thumbnail"><div class="tuile">
                                <h1>Approche Scientifique</h1>
                                <p>Thèses, recherches, études
                                    Vétérinaires, chercheurs, étudiants</p>
                            </div></a>
                    </div>
                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal6" >
                        <a href="#" class="thumbnail"><div class="tuile">
                                <h1>Approche Historique</h1>
                                <p>http://www.agrobiosciences.org/article.php3?id_article=1096
                                    http://www.bien-etre-animal.net/partie-1-histoire-de-la-prise-en-compte-du-bea/</p>
                            </div></a>
                    </div>
                </div>
            </div>
        </div>


                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
    </div>
                <!-- Carousel2 -->
                <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel" data-interval="false">


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container-fluid menu">
                                <div class="row">
                                    <div class="col-sm-4 col-md-3" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1 class="titre">TRIBUNE</h1>
                                            </div></a>
                                    </div>

                                    <div class="col-sm-4 col-md-3" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1>Le CIWF demande l'étiquetage obligatoire du mode d'élevage</h1>
                                                <p data-toggle="modal" data-target="#myModal7">Comment pouvons-nous
                                                    faire des choix plus respectueux du bien-être des animaux, si les étiquettes nous empêchent d’ouvrir les yeux ? Demandez un étiquetage simple et clair selon le mode d'élevage sur les viandes et produits laitiers, pour répondre à la question essentielle que les consommateurs se posent : « comment l'animal a-t-il été élevé ? »</p></div>
                                        </a>
                                    </div>
                                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal8" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1>Les engagements de St Michel pour le bien-être animal</h1>
                                                <p>Icône de la marque St Michel, la poule a toujours été chère à nos yeux. C’est pourquoi, depuis 2015, 100% des biscuits et pâtisseries St. Michel sont élaborés avec des œufs de poules élevées en plein air. Comme ça, tout le monde est gagnant !</p>
                                            </div></a>
                                    </div>
                                    <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal9" >
                                        <a href="#" class="thumbnail"><div class="tuile">
                                                <h1>Le bien-être animal : parlons-en !</h1>
                                                <p>Une tribune de la FNSEA "Nous avons trop souvent le sentiment que les jugements sur l'élevage se forgent à partir de modèles agricoles qui n'existent pas sur le territoire européen. On voit ainsi circuler de nombreuses images montrant des élevages où le bien-être animal n'est ni respecté, ni même envisagé. Ce n'est pas le cas chez nous ! Nous condamnons fermement ces pratiques"</p>
                                            </div></a>
                                    </div>
                                    <div class="carousel-caption"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container-fluid">
                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                    <a href="#" class="thumbnail"><div class="tuile">
                                            <h1>VIDEO : Stéphane Le Foll </h1>
                                            <img src="Images/Capture du 2016-11-17 10-06-56.png">
                                        </div></a>
                                </div>
                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                    <a href="#" class="thumbnail"><div class="tuile">
                                            <h1>Article</h1>
                                            <p></p>
                                        </div></a>
                                </div>
                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                    <a href="#" class="thumbnail"><div class="tuile">
                                            <h1>Article</h1>
                                            <p></p>
                                        </div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic2" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic2" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                </div>
                            <!-- Carousel3 -->
                            <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel" data-interval="false">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="container-fluid menu">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-3" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1 class="titre">PRESSE</h1>
                                                        </div></a>
                                                </div>

                                                <div class="col-sm-4 col-md-3" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1>« Le bien-être animal, c’est notre quotidien ! » </h1>
                                                            <p data-toggle="modal" data-target="#myModal">Référent bien-être pour les organisations professionnelles, François-Régis Huet témoigne auprès des « welfaristes » que les éleveurs sont les premiers garants du bien-être de leurs animaux</p></div>
                                                    </a>
                                                </div>
                                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal3" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1>Naissance du premier parti animaliste français</h1>
                                                            <p>Ce parti devrait soutenir le candidat qui respecterait au mieux son programme. Au menu : la fin de nombreuses pratiques actuelles d’élevage et la réduction de la consommation de produits animaux de 25 % avant 2025.</p>
                                                        </div></a>
                                                </div>
                                                <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                    <a href="#" class="thumbnail"><div class="tuile">
                                                            <h1>VIDEO : Les trophées du bien-être animal</h1>
                                                            <img src="Images/Capture du 2016-11-1710-03-44.png">
                                                        </div></a>
                                                </div>
                                                <div class="carousel-caption"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="container-fluid">
                                            <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                <a href="#" class="thumbnail"><div class="tuile">
                                                        <h1>Article</h1>
                                                        <p></p>
                                                    </div></a>
                                            </div>
                                            <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                <a href="#" class="thumbnail"><div class="tuile">
                                                        <h1>Article</h1>
                                                        <p></p>
                                                    </div></a>
                                            </div>
                                            <div class="col-sm-4 col-md-3" data-toggle="modal" data-target="#myModal4" >
                                                <a href="#" class="thumbnail"><div class="tuile">
                                                        <h1>Article</h1>
                                                        <p></p>
                                                    </div></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                        <!-- Controls -->
                                        <a class="left carousel-control" href="#carousel-example-generic3" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic3" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                            </div>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Le Bien-être Animal</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p class="titre">QU’EST-CE QUE LE BIEN-ÊTRE ANIMAL ?</p>
                                                <p>Le bien-être animal peut être un concept difficile à comprendre
                                                    parce qu’il n’a pas de définition unique et peut prendre un sens
                                                    différent d’une personne à l’autre.</p><br/>
                                                <p class="titre">QUE VEUT DIRE LE BIEN-ÊTRE ANIMAL ?</p><br/>
                                                <p>Le bien-être fait généralement référence à « la qualité de vie telle qu’en fait l’expérience un animal individuel ».
                                                    Le bien-être animal au sens large englobe non seulement la santé
                                                    et le bien-être physique de l’animal, mais aussi son bien-être
                                                    psychologique et la possibilité pour lui d’exprimer les
                                                    comportements importants propres à son espèce. Le bien-être peut
                                                    être décrit comme satisfaisant si les animaux sont en bonne santé physique et psychologique, se sentent bien et ne subissent pas de souffrances.</p><br/>
                                                <p></p>

                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <a class="btn btn-default" href="#" role="button" data-toggle="modal" data-target="#myModal25">Avis</a>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <div class="pull-left">
                                                        <a href="https://www.twitter.com/"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                                                        <a href="https://www.facebook.com/"><i class="fa fa-facebook-official
                                                         fa-3x " aria-hidden="true"></i></a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal2 -->
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                ...
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal3 -->
                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Sondages organismes divers
                                                90% des français sont défavorables aux élevages dans des bâtiments fermés sans accès à l'extérieur - Sondage Opinion Way pour L214
                                                92% des français aimeraient voir l’étiquetage des œufs s’étendre à
                                                    tous les produits carnés et laitiers - Etude européenne Qa pour
                                                    la campagne « Question d’étiquette »</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    <!-- Modal4 -->
                                    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Alim’agri, site du ministère de l’agriculture, de
                                                    l’agroalimentaire et de la foret
                                                    http://agriculture.gouv.fr/<br/>
                                                    Organisme dédié au bien-être des animaux de la ferme Compassion In World Farming
                                                    http://www.ciwf.fr/<br/>
                                                    PMAF protection mondiale des animaux de ferme
                                                    http://www.pmaf.org/<br/>
                                                    OIE World Organistaion for Animal Health
                                                    http://www.oie.int/fr/</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal5 -->
                                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                   <p>Thèses, recherches, études
                                                       Vétérinaires, chercheurs, étudiants</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal6 -->
                                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>http://www.agrobiosciences.org/article.php3?id_article=1096
                                                        http://www.bien-etre-animal.net/partie-1-histoire-de-la-prise-en-compte-du-bea/</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal7 -->
                                    <div class="modal fade" id="myModal7" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>L’origine France, une information insuffisante
                                                        Environ 80% des animaux élevés en France sont dans des élevages intensifs. Beaucoup l’ignorent et les informations dont nous disposons sont celles que l'on trouve sur l'étiquette. Mais l’étiquetage des viandes et produits laitiers ne répond pas à la question essentielle : « comment l'animal a-t-il été élevé ? ».
                                                        S’il est utile de connaitre l’origine géographique (lieu de naissance, d’élevage et d’abattage), pour s’assurer que l’animal n’a pas subi de transports sur de longues distances, cela ne nous apprend rien sur les conditions d’élevage et d’abattage. L’origine France, dont l’industrie agroalimentaire et le gouvernement se targuent, ne contient aucun critère relatif au respect du bien-être animal au-delà de la règlementation minimale.
                                                        De même, les allégations du type Produit du terroir, 100% Naturel, De nos campagnes ou encore À l’ancienne ne vous disent rien des conditions d’élevage.
                                                        Comment pouvons-nous faire des choix plus respectueux du bien-être des animaux, si les étiquettes ne donnent pas l’information adéquate ? Exigez l’étiquetage du mode d’élevage sur les viandes et produits laitiers, à l’instar de ce qui existe pour les œufs.
                                                        L’introduction de l’étiquetage des œufs, avec mention « œufs de poules élevées en cage », « au sol », « plein air » ou « biologique », fut une réussite en termes de transparence pour les consommateurs et a contribué à l’augmentation des ventes d’œufs plein air. Demandez un étiquetage similaire pour les produits carnés et laitiers.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal8 -->
                                    <div class="modal fade" id="myModal8" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>▶ St Michel, pionnier du bien-être animal
                                                        En France, près de 80% des poules pondeuses sont encore élevées en cages, soit 46 millions de poules prisonnières. Avec le lancement de sa gamme Cocottes en 2002, St Michel a initié le mouvement en utilisant des œufs fermiers de poules élevées en liberté, dans la Sarthe. En 2015, St Michel va encore plus loin et s’engage à n’utiliser que des œufs de poules élevées en plein air et ce sur 100% de ses biscuits et pâtisseries. Bien entendu, l’ensemble des œufs sont issus de fermes 100% françaises !
                                                        ▶ Les bons œufs font les bons gâteaux
                                                        Le respect du bien-être des poules pondeuses fait partie des engagements forts de la marque. Les poules aussi ont besoin de liberté pour s’épanouir ! Quel plaisir de voir les poules s'ébattre dans de vastes prairies où elles disposent chacune d'au moins 10 m² de parcours, du matin au soir ! Avec la liberté, les poules retrouvent leurs instincts naturels : elles déambulent, picorent, grattent le sol, se perchent, prennent des bains de poussière, pondent dans des nids…

                                                        Pour produire de bons œufs, il n’y a pas mieux ! Pour en savoir plus: http://www.ciwf.fr/</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal9 -->
                                    <div class="modal fade" id="myModal9" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Mercredi 29 octobre, la FNSEA a présenté à la presse un recueil rassemblant les actions menées par les filières animales (FNC, INTERBEV, INAPORC, CNPO...) et les réseaux nationaux (APCA, Races de France, Coop de France...) en faveur du bien-être des animaux.

                                                        Au total, c'est donc 26 organisations d'élevage qui communiquent sur la réalité de leurs pratiques, sur l'accompagnement et la formation des éleveurs notamment.

                                                        "Nous avons trop souvent le sentiment que les jugements sur l'élevage se forgent à partir de modèles agricoles qui n'existent pas sur le territoire européen. On voit ainsi circuler de nombreuses images montrant des élevages où le bien-être animal n'est ni respecté, ni même envisagé. Ce n'est pas le cas chez nous ! Nous condamnons fermement ces pratiques" soulignent en avant-propos du recueil Christiane Lambert, 1ère vice-présidente FNSEA, et Etienne Gangneron, vice-président de la FNSEA.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="myModal25" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">

                                                <div class="modal-body">
                                                    <form action=mailto:votrenom@provider.com" method="post">
                                                        <div class="row">
                                                            <div class="col-sm-offset-2 col-sm-4">
                                                                <label>
                                                                    <h3 class="text-center">Donner nous votre avis !</h3>
                                                                    <span>Email* : </span>
                                                                    <input type="email" placeholder="Votre-email@gmail.com" name="email" id="email" required>
                                                                </label><br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-2 col-sm-4">
                                                                <label>
                                                                    <span>Nom*  : </span>
                                                                    <input type="text" placeholder="Entrez votre nom" name="name" id="name" required autofocus>
                                                                </label> <br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-2 col-sm-4">
                                                                <label>
                                                                    <span>Prenom: </span>
                                                                    <input type="text" placeholder="Entrez votre prénom" name="prenom" id="name" >
                                                                </label> <br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-2 col-sm-4">
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                                                        <p class="radiotext">Oui</p>
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                                                        <p class="radiotext">Non</p>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-1 col-sm-4">
                                                                <label>
                                                                    <span>Contenu*:</span>
                                                                    <textarea name="monmessage" id="monmessage" rows="6" cols="40" required></textarea>
                                                                </label><br/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-offset-5">
                                                                <button type="button" class="btn btn-success ">Envoyer</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

</section>
<footer>
    <div class="container-fluid">
        <h2 class="textfooter">REJOIGNEZ NOUS</h2>
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <h3><i class="fa fa-copyright" aria-hidden="true"></i>
                    GreenFlex_OpenAgriFood
                </h3>
                <img src="Images/OAF.png" alt="">
            </div>
            <div class=" col-md-offset-1 col-md-3">
                <i class="fa fa-facebook fa-5x " aria-hidden="true"></i>
                <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-md-4">
                <img class="imagefooter" src="Images/logofooter2.png" alt="">
                <h2 class="textfooter2"> site partenaire :</h2>
                <img class="imagefooter2" src="Images/logovisitemonassiette2.png" alt="">
            </div>
        </div>
    </div>
</footer>

</body>
</html>
