<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/da29dc0239.js"></script>
    <link rel="stylesheet" href="style/style.css">

    <title>Page d'accueil</title>
</head>
<body>
    <header >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 ">
                     <form id="recherche" action="POST" >
                         <input type="text">
                         <button>Valider</button>
                     </form>
                </div>
            </div>
            <div class="row">
                <h1 class="bg-info text-center">
                    Les sujets du moments
                </h1>
            </div>
        </div>
    </header>
    <section>
        <div class="container-fluid">
            <div class="row">
                <a href="fondamentaux.html.twig"><div class="col-sm-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="Images/OAF.png" alt="...">
                        <div class="caption">
                            <div class="col-xs-6 col-md-offset-4 col-md-4">
                                    <h1 class="titretuile">Bien être animal</h1>
                            </div>
                        </div>
                    </a>
                </div></a>
                <div class="col-sm-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="Images/OAF.png" alt="...">
                        <div class="caption">
                            <div class="col-xs-6 col-md-offset-4 col-md-4">
                                <h1 class="titretuile">Bien être animal</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="Images/OAF.png" alt="...">
                        <div class="caption">
                            <div class="col-xs-6 col-md-offset-4 col-md-4">
                                <h1 class="titretuile">Bien être animal</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="Images/OAF.png" alt="...">
                        <div class="caption">
                            <div class="col-xs-6 col-md-offset-4 col-md-4">
                                <h1 class="titretuile">Bien être animal</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="Images/OAF.png" alt="...">
                        <div class="caption">
                            <div class="col-xs-6 col-md-offset-4 col-md-4">
                                <h1 class="titretuile">Bien être animal</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="Images/OAF.png" alt="...">
                        <div class="caption">
                            <div class="col-xs-6 col-md-offset-4 col-md-4">
                                <h1 class="titretuile">Bien être animal</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
