
</pre>
<span><font size="15"><font face="arial"><font color="#000000"> <div align="center">

<center><script language="JavaScript">

TargetDate = "10/24/2018 10:59 PM";

BackColor = false;

ForeColor = false;

CountActive = true;

CountStepper = -1;

LeadingZero = true;

DisplayFormat = "%%D%% &nbsp; %%H%% &nbsp; %%M%% &nbsp; %%S%% ";

FinishMessage = "C'est fini !";

</script>

<script language="JavaScript" src="http://scripts.hashemian.com/js/countdown.js">

</script></center></div></span>

&nbsp;
<pre>